@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(239, 239, 239);
    color: #000;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: rgb(239, 239, 239);
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}
nav ul li :hover{
    color: #d90429;
}

.btn-login {
    background: #d90429;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;

}
.btn-login:hover{
    background: #bb0322;
    color: rgb(239, 239, 239)
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

.hero-content {
    max-width: 40%;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 1.2;
}

.hero-content p {
    margin: 20px 0;
    font-size: 14px;
    color: #555;

}

.buttons {
    margin-top: 20px;
}

.btn-menu, .btn-book {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

.btn-menu {
    background: #000;
    color: #fff;
}
.btn-menu:hover {
    
    color:rgb(239, 239, 239) ;
}

.btn-book {
    background: #d90429;
    color: #fff;
}
.btn-book:hover{
    background: #bb0322;
    color: rgb(239, 239, 239)
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 25px;
}

.hero-image img {
    width: 420px;
    border-radius: 15px;
}
.hero-image .img1{
    position: relative;

}
.hero-image .img2{
    position: absolute;
    right:25%;
    top:56%;
}
