@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #EFEFEF;
    color: #000;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 150px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #d90429;
}

.btn-login {
    background: #d90429;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 15px 0 15px 0;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-login:hover {
    background: #bb0322;
    color: #EFEFEF;
    transform: scale(1.05);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 5% 40px;
    min-height: 100vh;
    margin-bottom: 50px;;
}

.hero-content {
    max-width: 40%;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    font-style: italic;
    color:black;
}

.hero-content p {
    margin: 40px 0;
    font-size: 16px;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.btn-menu, .btn-book {
    display: inline-block;
    padding: 12px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 15px 0 15px 0;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.btn-menu {
    background: #000;
    color: #fff;
}

.btn-menu:hover {
    background: #333;
    transform: scale(1.05);
}

.btn-book {
    background: #d90429;
    color: #fff;
}

.btn-book:hover {
    background: #bb0322;
    transform: scale(1.05);
}

.social-icons {
    margin-top: 30px;
    display: flex ;

    
}
.social-icons a {
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons img {
    width: 45px;
    height: 45px;
    border:1px solid black;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    padding: 5px;

}


.hero-image img {
    width: 420px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
    transform: scale(1.05);
}

.hero-image .img1 {
    position: relative;
}

.hero-image .img2 {
    position: absolute;
    right: 25%;
    top: 54%;
}
/* .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.user-circle{
    width: 40px;
    height: 40px;
    background-color: #666;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: uppercase;
}  */